.DS_Store
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
db
/data
/public/images/redplasticchair
/public/images/sink
/public/images/desk
/public/images/chair
/public/images/table
/public/images/duvetcoverandpillowcases
/public/images/fabric
/public/images/mirror
/public/images/panelcurtain
/public/images/rug
/public/images/shelf
/public/images/teamaker
/public/images/leather
/public/images/dishtowel
/public/images/stool
/public/images/blueframe
/public/images/bowl
/public/images/curtains
/public/images/lamp
/public/images/toilet
